body, h1, h2, ul, dl, dd {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


body {
    background-color: #0a222b;
    text-align: center;
}

.wrapper {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

.cover {
    background-image: url(images/cover.png);
    /* html에 img로 넣으면 공간이 생긴다. */
    color: aliceblue;
    background-size: cover; /* 비율이 찌그러지지 않도록 */
    background-position: bottom;
    padding-top: 20%; /* body의 넓이를 %로 불러옴 */
    padding-bottom: 10%;
    transition: padding .5s;
    /*반응형에서 화면크기에 따라 덜컹거리는거 지연 */
}

.cover-title {
    font-size: 20vw; /* viewport width 20% - px로 넣으면 pc에서 다시 조정해야 한다.*/
    font-family: 'Yellowtail', cursive;
    font-weight: normal;
    line-height: 1; /* photoshop의 글자를 붙이기 위해 */
    font-style: italic;
    transition: font-size .5s;
    /*반응형에서 화면크기에 따라 덜컹거리는거 지연 */
}

.cover-title span {
    font-family: 'arial';
    font-size: 0.2em;
    display: block;
    text-indent: 3em; /* px 단위로 주면 않된다 */
}

.timeline {
    position: relative; /* 중간라인 만들기 위해 */
    padding-bottom: 100px; /* 라인끝을 길게 만들기 위해 */
}

.timeline:after {
    content: ' ';
    position: absolute;
    left: 50%;
    background-color: rgba(0,0,0,0.5); /* 라인을 있는듯 없는듯 모바일 시*/
    z-index: -1; /* 라인을 카드뒤로 배치*/
    margin-top: 20px; /* 선을 1번 중간정도 오게하기 위해 */
    top: 5vw; /* 선을 1번 중간정도 오게하기 위해 */
    bottom: 0; /* 선을 1번 중간정도 오게하기 위해 */
    width: 6px;
    border-radius: 5px;
    margin-left: -3px; /* 왼쪽으로 옮겨 중앙 배치 */
} /* 중간라인 만들기 위해 */

.timeline-item {
    margin-top: 70px;
}

.card {
    background-color: rgba(0,0,0,0.6); /*색깔주기 애매할때 뒷컬러가 비치도록 */
    color: #999;
    padding: 0 20px 20px 20px;
    border-radius: 30px;
}

.card-icon {
    width: 70px;
    height: auto;
    vertical-align: top;
    margin: -35px 30px 0;
    /* card-icon을 올리는 방법
    1) position: relative; top: -50px;
    2) transforms: translate(-50%); */
}

.card-title {
    font-size: 20vw;
    color: dodgerblue;
    font-family: 'impact';
    line-height: 1; /* 현재 지정된 폰트사이즈의 크기 */
    margin: 20px;
    /* 패딩을 쓰면 2배가 되서 마진을 쓰면 마진겹칩이 일어남.
    부모인 .card에 패딩을 1px라도 주면 부모의 마진겹침 해소
    overflow: hidden으로 마진겹침을 해소할 수 있으나 포토샵
    그림을 삐져나오게 하려면 쓸 수 없다.*/
}

.card-definition {
    margin: 20px;
    /* 패딩을 쓰면 2배가 되서 마진을 쓰면 마진겹칩이 일어남.
    부모인 .card에 패딩을 1px라도 주면 부모의 마진겹침 해소
    overflow: hidden으로 마진겹침을 해소할 수 있으나 포토샵
    그림을 삐져나오게 하려면 쓸 수 없다.*/
}

.card-definition dt {
    font-size: 25px;
    color: #ddd;
    margin-bottom: 20px;
}

.card-definition dt span {
    color: dodgerblue;
    display: block;
    font-size: 0.5em;
}

@media ( min-width: 720px ) {
    .cover {
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .cover-title {
        font-size: 15vw;
    }
    .timeline:after {
        background-color: dodgerblue;
        /* 모바일에서 pc버젼 라인컬러 원래데로
        before 타임라인의 컨텐츠가 시작되기 전
        after 타임라인의 컨텐츠가 끝나고 난 후 */
    }
    .timeline-item { /*레이아웃만 담당 */
        width: 50%;
        padding: 0 20px;
        box-sizing: border-box;
        text-align: right;
        /* 좌,우 사이를 벌리기 위해
        padding: 0 20px;
        box-sizing: border-box; 패딩이 포함되 */
    }
    .timeline-item:nth-child(even) {
        margin-left: auto;
        margin-top: -150px;
        margin-bottom: -200px;
        text-align: left;
    }
    .card {
        position: relative;
        /* card-icon > position: absolute; */
    }
    .card-title {
        font-size: 10vw;
        display: inline-block;
        position: relative; /* 점백이 기준 */
    }
    .card-title:after { /* 동굴한 점백이 */
        content: ' ';
        position: absolute;
        right: -60px; /* 오른쪽으로 밀기 위해 */
        top: 50%;
        background-color: white;
        border: 6px solid dodgerblue;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        transform: translate(50%,-50%);  /* 오른쪽으로 밀기 위해 y축 -50*/
        background-color: #0a222b; /* 점백이 가운데 흰색컬러커버*/
        z-index: 10;  /* 점백이 앞으로*/
    }
    .card-icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    .timeline-item:nth-child(even) .card-icon {
        left: auto; /*card-icon에 left: 0;이 잡혀있다 */
        right: 0;
    }
    .timeline-item:nth-child(even) .card-title:after {
        left: -60px;
        transform: translate(-50%,-50%);
    }/* 오른쪽 점백이 중앙으로*/
}
