@charset "UTF-8";


ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper {
}
/* header start */
#header {

}
.tbar {
    height: 8px;
    background: darkred;
}
.inner_wrap {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 1px;
    display: flex;
    background: #ecdbac;
}
.rsum {
    width: 400px;
    height: inherit;
    background: #f5c0bb;

}
.rpre {
    width: 250px;
    height: inherit;
    background: #5f5990;
}
.track {
    width: 250px;
    height: inherit;
    background: #cddf37;
}

.rposition {
    width: 300px;
    height: inherit;
    background: #7dd2de;
}
.bbar {
    width: inherit;
    height: 8px;
    margin-top: 1px;
    background: darkred;
}
/* header start */

/* navigation start */
#nav {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
#nav a {
    //flex-grow: 1;
    width: 90px;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
    padding: 6px;
    background: green;
}
/* navigation end */

/* main start */
#main {
}
#main .rcard {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    background: #ee8e1e;
}
#main .rrecord {
        width: 1200px;
        height: 200px;
        margin: 0 auto;
        background: orange;
}


/* main start */
