<ul>
    <li><a href="#">About Us</a>
        <ul>
            <li><a href="#">We Are</a></li>
            <li><a href="#"></a>Our Mission</li>
            <li><a href="#"></a>Our Vision</li>
        </ul>
    </li>
    <li><a href="#">Race Cards</a>
        <!ul>
            <li><a href="#"></a>Race Card</li>
            <li><a href="#"></a>Trainer's Entry</li>
            <li><a href="#"></a>Jockey's Booking</li>
            <li><a href="#"></a>Next Entry</li>
        </ul>
    </li>
    <li><a href="#">Results</a>
        <ul>
            <li><a href="#"></a>Result</li>
            <li><a href="#"></a>Barrier Trial</li>
        </ul>
    </li>
    <li><a href="#">Statistics</a>
        <ul>
            <li><a href="#"></a>Draw Statistic</li>
            <li><a href="#"></a>Running Style</li>
            <li><a href="#"></a>Race Pace</li>
            <li><a href="#"></a>Track Condition</li>
            <li><a href="#"></a>Track Course</li>
            <li><a href="#"></a>J/T Relationship</li>
            <li><a href="#"></a>Average Time</li>
        </ul>
    </li>
    <li><a href="#">Horses</a>
        <ul>
            <li><a href="#"></a>Horse List</li>
            <li><a href="#"></a>Racking</li>
            <li><a href="#"></a>Track Works</li>
            <li><a href="#"></a>Veterinary Record</li>
            <li><a href="#"></a>Spelling Horse</li>
            <li><a href="#"></a>Changed Horse</li>
            <li><a href="#"></a>Retired Horse</li>
        </ul>
    </li>
    <li><a href="#">Trainers</a>
        <ul>
            <li><a href="#"></a>Trainer List</li>
            <li><a href="#"></a>Racking</li>
            <li><a href="#"></a>Performance</li>
        </ul>
    </li>
    <li><a href="#">Jockeys</a>
        <ul>
            <li><a href="#"></a>Trainer List</li>
            <li><a href="#"></a>Racking</li>
            <li><a href="#"></a>Performance</li>
        </ul>
    </li>
    <li><a href="#">Pedigree</a>
        <ul>
            <li><a href="#"></a>Pedigree</li>
            <li><a href="#"></a>Chefs De Race</li>
            <li><a href="#"></a>HK Leading Sire</li>
            <li><a href="#"></a>World Leading Sire</li>
            <li><a href="#"></a>Blood Mare Sire</li>
        </ul>
    </li>
    <li><a href="#">User Guides</a>
        <ul>
            <li><a href="#"></a>User Guide</li>
            <li><a href="#"></a>Service Fee</li>
            <li><a href="#"></a>Betting Guide</li>
            <li><a href="#"></a>All Up Calculator</li>
            <li><a href="#"></a>T-T Calculator</li>
            <li><a href="#"></a>What Is Gear?</li>
            <li><a href="#"></a>Track Structure</li>
        </ul>
    </li>
</ul>
