#nav > ul {
    display: inline-block;
    padding: 5px 5px;
}

#nav > ul > li {
    width: 100px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
}
#nav li > a {
    padding: 10px;
    display: block;
    background: #2396ba;
}
#nav li:hover > a {
    background: black;
    color: white;
}
#nav li {
    position: relative;
}

#nav > ul ul {
    display: none;
    position: absolute;

}
#nav li:hover > ul {
    display: block;
}


#nav ul > li > a {
    width: inherit;
    color: inherit;
    text-decoration: inherit;
    padding: 9px 0px;
    display: block;

}

#nav > li {
    position: relative;
}

#nav > ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav > ul > li > ul > li{
    text-align: left;
}
