@charset "UTF-8";

@import url('http://fonts.googlespis.com/css?family=Norican');
@import url(reset_nav-hover.css);

#wrapper {
    display: block;
    width: 960px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 25px 30px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(205, 205, 205, 0.55);
}
#ulbox {
    display: block;
    margin-bottom: 15px;
}
#ulbox li {
    display: block;
    float: left;
    margin-bottom: 10px;
    border: 1px dotted #444;
    height: 300px;
    width: 450px;
    padding: 10px;
    background-color: rgba(230, 230, 0, 0.3);
}
#ulbox li img {
    display: block;
    float: left;
    margin-right: 10px;
}
#ulbox li .halfbox {
    display: block;
    float: left;
    width: 180px;
}
#ulbox li .fullbox {
    display: block;
    float: left;
    width: 380px;
}
/* 네비게이션 */
.nav-area {
    width: 22em;
    position: fixed;
    top: 5em;
    z-index: 9999;
    background: #fff;
    right: -22em;
    transition: right ease 0.5s;
}
.nav-area a.nav-btn {
    position: absolute;
    top: 0;
    left: -9em;
    width: 8.6em;
    display: block;
    background: #fff;
    padding: 1.8em;
    text-decoration: none;
    transition: left ease 0.5s;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.nav-area a.nav-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 10px;
    height: 100%;
    background: #fff;
}

.nav-area a.nav-btn .menutxt {
    display: block;
    color: #515151;
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: bold;
    margin-bottom: 8px;
}
.nav-area a.nav-btn .contents {
    display: block;
    color: #666;
    font-size: 1em;
}
.nav-items {
    display: block;
    margin-bottom: 25px;
}
.nav-items ul {
    display: block;
    list-style: none;
}
.nav-items ul li {
    display: block;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px dotted #888;
}
.nav-items ul li:last-child {
    border-bottom: none;
}
.nav-items ul li .item-txt, .nav-items ul li {
    display: block;
    margin-bottom: 2px;
    font-size: 1.1em;
}
.nav-icon {
    display: block;
    float: left;
    margin-right: 8px;
}
.nav-area .nav-box {
    padding: 1.5em;
    margin: 0;
}

.nav-area .nav-box .li-btn {
    font-size: 1.2em;
    color: #467fc5;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 200px;
    padding: 0px 20px;
    border: 1px solid #467fc5;
    border-radius: 4px;
    margin-top: 20px;
}
.nav-area .nav-box .li-btn:hover {
    background: #467fc5;
    color: #fff;
}
.nav-area a.nav-btn, .nav-area .nav-box {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.nav-area:hover { right: 0; }

.nav-area .nav-box {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix { display: block;}
* html .clearfix {height: 1%;}
