
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, halfbox,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0; padding: 0; border: 0;
    font-size: 100%; font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { overflow-y: scroll;}
body {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #434343;
    background: #fafafa;
    margin: 55px 0;
}
br { display: block; line-height: 1.6em;}
article, aside, halfbox, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}
ol, li { list-style: none; }
input, textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
    outline: none;
}

blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
strong, b { font-weight: bold;}

em, i { font-style: italic;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}
h1 {
    font-family: 'Norican', 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 4.0em;
    line-height: 1.65em;
    margin-bottom: 15px;
    color: #414141;
}
h2 {
    font-family: 'Norican', 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 2.25em;
    line-height: 1.4em;
    margin-bottom: 10px;
    color: #414141;
}

h3, #big {
    display: block;
    font-size: 2.4em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
}

h4, #mid {
        display: block;
        font-size: 1.55em;
        line-height: 1.25em;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 6px;
}
p, #small {
    display: block;
    font-size: 1.45em;
    line-height: 1.4em;
    margin-bottom: 15px;
    color: #575757;
}
a { color: #6193d0;}
