@charset "utf-8"

<style>
* {
    margin: 0;
    padding: 0;
}
body {
    color:white;
}

/* 헤더가 않보임 float 속성때문인거 같음 */

#header {
    width: 100%;
    text-align: center;
    background: tomato;
}
#nav {
    width: 960px;
    height: 40px;
    margin: 0 auto;
    background: #df5419;
}
/* li 를 균등하게 나누는 거 같은데 반응이 없는거 같음
li {
    flex: 1 1 0;
} */


ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    position: relative;
}
ul li {
    float:left;
    width: 100%;
    max-width: 135px;
    height: 30px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    line-height: 30px;
    font-size: 16px;
    margin-right: 2px;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover {
    background-color: green;
}
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
    text-align: left;
}
