@charset "UTF-8";


    /*가장 기본적인 형태의 네비게이션 */

a {
    text-decoration: none;
}
#header {
    height: 100px;
    background: #26db99
}

#nav {
    height: 40px;
    margin: 0 auto;
}




/* 1차 메뉴와 2차메뉴 공통 속성 */
#nav li {
    height: 30px;
    list-style: none;
    float: left;
    line-height: 30px;
    padding: 0.3em;
    margin-right: 0.1em; /* 메뉴 사이 간격 */
    background: #09f;

}

/*2차 메뉴 설정 */
#nav li li {
    clear: both; /* float 속성 해제 - 2차 메뉴가 아래로 */
    margin-left: -45px; /* 리스트 특성상 2차가 오른쪽으로 간다 */
}

/*2차 메뉴 평소 숨김 */
#nav ul {
    position: absolute;
    display: none; /*2차 메뉴 숨김 */
}
/* 1차 메뉴에 마우스 오버시 2차 메뉴 보여줌 */
#nav li:hover ul {
    display: block;
}
#nav ul li a:hover {
    background-color: green;
}

/* 네비게이션 오버시 배경색 지정 */
#nav a {
    color: #fff;
    font-weight: bold;
    padding: 0px;

    display: block;
}
