@charset "UTF-8";

body, article, span {
    margin: 0;
    padding: 0;
}

#m_wrap {
    width: 800px;
    margin: 0 auto;
    display: flex;justify-content: space-between;
}

#m_wrap {
    width: 800px;
    height: 400px;
    display: flex;
}
#sec {
    width: 200px;
    height: inherit;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}
#sire {
    background: #339cd7;
    border-bottom: 0;
}
#dam {
    background: #f23535;
}
span {
    text-align: left;
}

.sec_first > span {
    display: block;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #000;
    line-height: 200px;
}

.sec_second span {
    display: block;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #000;
    line-height: 100px;
    border-left: 0;
}
.sec_second span {
    border-bottom: 0;
}
.sec_second span:last-child {
    border-bottom: 1px solid #000;
}
.sec_third span {
    display: block;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #000;
    line-height: 50px;
    border-left: 0;
}
.sec_third span {
    border-bottom: 0;
}
.sec_third span:last-child {
    border-bottom: 1px solid #000;
}
.sec_forth span {
    display: block;
    width: 200px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid #000;
    line-height: 25px;
    border-left: 0;
}
.sec_forth span {
    border-bottom: 0;
}
.sec_forth span:last-child {
    border-bottom: 1px solid #000;
}
