@charset "utf-8"

/*
font-family: Arial, Verdana, Helvetica, sans-serif;
font-family: 細明體_HKSCS, 細明體, 新細明體;
*/

#wrapper {
    height: 100vh;
    background-color: #fb0404;

}
#wrapper::before {
    content: '';
    display: block;
    width: 100%;
    min-width: 1200px;
    height: 7px;
    top:0px;
    background: #D90707;
}

/* header */
#header {
    width: 960px;
    margin: 0 auto;
}
.title {
    display: block;
    width: 960px;
    height: 100px;
    text-align: center;
    background: #abe3eb;
}

.title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

/* navigation */
#nav {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    background-color: #1d7a09;

}
#nav > ul {
    display: flex;
    justify-content : center;
    align-items : center;
}
#nav ul > li {
    /*display: block;*/
    flex-basis: 0;
    flex-grow: 1;
    font-size: 13px;
    font-weight: bold;
    /*border-right: 1px solid #fff;*/
}
#nav > ul > li a {
    display: block;
    background-color: #1d7a09;
    padding: 5px;
}
#nav > ul > li:hover ul {
    display: block;
}
#nav li:hover > a {
    background-color: black;
    color: #fff;
}
#nav > ul > li:hover ul li {
    width: 100%;
}

#nav ul li {
    position: relative;
}
#nav ul ul {
    display: none;
    position: absolute;
    width: 100%; /*sub menu width same with parents */
}
#nav li li {
    border-right: 0px;
    border-bottom: 1px solid #fff;
}
#nav li li:last-child {
    border-bottom: 0px;
}

#nav ul ul li {
    flex-direction: row;
    text-align: left;
}
#nav ul ul a {
    margin-top: 1px;
}

#nav::after {
    content: '';
    display: block;
    width: inherit;
    height: 7px;
    background: #D90707;
}

/*#nav {
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav a {
    flex-basis: 0;
    flex-grow: 1;
    display: block;
    color: #111;
    font-family: ARIAL;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border: 2px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    background: green;
}
#nav a:hover {
    background-color: red;
    color: #fff;
}*/
/* navigation end*/

/* header end*/

/* main */
#main {
    width: 960px;
    height: 450px;
    display: flex;
    margin: 0 auto;;
    background: #95c30f;
}
#main .section {
    text-align: center;
}
#main .section:nth-child(1) {
    width: 200px;
    height: 500px;
    background: #ee9123;
}
#main .section:nth-child(2) {
    width: 460px;
    height: 500px;
    background: #f47213;
}
#main .section:nth-child(3) {
    width: 300px;
    height: 500px;
    background: #ee9123;
}
/* main end */

/* footer */
#footer {
    width: 960px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    background: #06b828;
}




/* mediaquery 320 / 480 / 600 / 768 / 960 / 1024 / 1280 */
@media (max-width: 1280px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 960px) {

}
@media (max-width: 768px) {

}
@media (max-width: 600px) {

}
@media (max-width: 480px) {

}
@media (max-width: 320px) {

}
