@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

#header::before {
    content: '';
    display: block;
    width: inherit;
    height: 7px;
    top:0px;
    background: #D90707;
}
#header {
    width: 960px;
    margin: 0 auto;
}
.title {
    display: block;
    width: 960px;
    height: 100px;
    text-align: center;
    background: #abe3eb;
    background: #999;
}
.title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.8em;
}
#nav {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    background-color: #1d7a09;
}
#nav > ul {
    display: flex;
    justify-content : center;
    align-items : center;
}
#nav ul > li {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1em;
    font-weight: bold;
}
#nav > ul > li a {
    display: block;
    background-color: #1d7a09;
    padding: 5px;
}
#nav > ul > li:hover ul {
    display: block;
}
#nav li:hover > a {
    background-color: #FF6400;
    color: #fff;
}
#nav > ul > li:hover ul li {
    width: 100%;
}
#nav ul li {
    position: relative;
}
#nav ul ul {
    display: none;
    position: absolute;
    width: 100%;
}
#nav li li {
    border-right: 0px;
    border-bottom: 1px solid #fff;
}
#nav li li:last-child {
    border-bottom: 0px;
}
#nav ul ul li {
    flex-direction: row;
    text-align: left;
}
#nav ul ul a {
    margin-top: 1px;
}
#nav::after {
    content: '';
    display: block;
    width: inherit;
    height: 7px;
    background: #D90707;
}
