@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

#wrapper {
}
#wrapper::before {
    content: '';
    display: block;
    width: 1200px;
    height: 7px;
    margin: 0 auto;
    background: #D90707;
}

/* header start */
#header {}

.inner_wrap {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.rinfo {
    width: 450px;
    height: inherit;
}
.rinfo .rno_wrap {
    max-width: inherit;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.rinfo a{
    flex-basis: 0;
    flex-grow: 1;
    width: 30px;
    height: 12px;
    display: block;
    color: #111;
    font-family: ARIAL;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px 10px;
    background: #0b6623;
    border-radius: 5px;
}
.rinfo a:hover {
    background-color: #FF6400;/*#3F7D20;*/
    color: #fff;
}
.rinfo p {
    font-weight: bold;
}

.rskin {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: #5f5990; */
}
.rskin section {
    width: inherit;
}
.rskin section article:nth-child(1) {
    width: inherit;
    height: 30px;
    color: orangered;
    line-height: 30px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto;
}

.rskin section article:nth-child(2) {
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: space-between;

}
.rskin section article img {
    width: 27px;
    height: 36px;
}



.track {
    width: 250px;
    height: inherit;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    /*background: #cddf37;*/
}
.track > img {
    max-width: 100%;
    max-height: 100%;
}

/*
.rposition {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rposition img {
    max-width: 100%;
    max-height: 100%;
}
*/
/* header end */

/* navigation start */
#nav {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 2px

}
#nav a {
    flex-basis: 0;
    flex-grow: 1;
    display: block;
    position: relative; /*for Tooltips */
    color: #111;
    font-family: ARIAL;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    background: #0b6623;
}
#nav a:hover {
    background-color: #FF6400;/*#3F7D20; #567E1F*/
    color: white;
    opacity: 0.3s;
} /* navigation end */

/* Tooltips */
#nav a::after {
    content: attr(title);
    position: absolute;
    background-color: #3F7D20;
    color: #fff;
    left: 0%;
    top: -120%;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    white-space: nowrap;
    visibility: hidden;
    z-index: 1;
}

#nav a:hover::after {
    visibility: visible;
}
#nav a:last-child::after {
    visibility: hidden;
} /* Tooltips end */

/* main start */
#main::before {
    content: '';
    display: block;
    width: 1200px;
    height: 7px;
    margin: 0 auto;
    background: #D90707;
}
#main {
}
#main .rcard {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
.rcard img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#main .rrecord {
        width: 1200px;
        height: 250px;
        margin: 0 auto;
        position: relative;
}
.rrecord img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* main end */
