@charset "UTF-8";

body {
    margin: 0;
    padding: 0;

}

#h_wrap {}

#h_wrap::before {
    content: '';
    display: block;
    width: 1200px;
    height: 7px;
    margin: 0 auto;
    background: #D90707;
}
#h_wrap::after {
    content: '';
    display: block;
    width: 1200px;
    height: 7px;
    margin: 0 auto;
    background: #D90707;
}

header {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.char {
    width: 100px;
    height: 100px;

}
.char > img {
    width: inherit;
    height: inherit;
    max-width: 100%;
    max-height: 100%;
}
.stitle {
    width: 300px;
    height: 35px;
    align-self: center;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}
.nav {
    width: 300px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav > a {
    flex-basis: 0;
    flex-grow: 1;
    display: block;
    color: #111;
    font-family: ARIAL;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    padding: 5px 0;
    background: green;
}
.nav a:hover {
    background-color: #D90707;
    color: #fff;
}
