@charset "utf-8"

/* layout */

#wrapper {
  width: 100%;
  margin: 0 auto;
}
/*#bar {
  width: 100%;
  height: 10px;
  background: #fb0404;
}*/

#header_wrap {
  height: 100px;
  background: #cd2b07;
  /*background: #8d6e63;*/
}
#nav {
  width: 960px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background: #18a1b4;
}

#main {
  display: flex;
  justify-content: center;
  width: 960px;
  height: 450px;
  text-align: center;
  margin: 0 auto;
}

#footer {
  width: 960px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  background: #18a1b4;
}
.header {
  width: 960px;
  height: inherit;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
  background: #cd2b07;
}

.section {
  width: 320px;
  height: inherit;
}
.section:nth-child(1) {

}
.section:nth-child(2) {
  background: #03b7d0;
}
.section:nth-child(3) {

}

.article {
  width: inherit;
  height: 50%;
}
.article:nth-child(1) {
    background: #03b7d0;
}
.article:nth-child(2) {
    background: #03b7d0;
}

/* mediaquery 320 / 480 / 600 / 768 / 960 / 1024 / 1280 */
@media (max-width: 1280px;) {

}
@media (max-width: 1024px;) {

}
@media (max-width: 960px;) {

}
@media (max-width: 768px;) {

}
@media (max-width: 600px;) {

}
@media (max-width: 480px;) {

}
@media (max-width: 320px;) {

}
