@charset "UTF-8";


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626;
    font-family: 'alial';
    font-size: 1rem;
}
.wrapper {
    display: grid;
    background-color: #fff;
    width: 900px;
    max-width: 100%;
    height: 90vh;
    margin: 30px auto;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.box {
    background-color: #2ad8f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .5);
}
.box.one {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/09/09/30/woman-1245817_960_720.jpg);
}
.box.two {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(https://cdn.pixabay.com/photo/2015/01/15/13/06/model-600238_960_720.jpg);
}
.box.three {
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/16/10/26/girl-1828536_960_720.jpg);
}
.box.four {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/13/19/39/fashion-3080644_960_720.jpg);
}
.box.five {
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
    background-image: url(https://cdn.pixabay.com/photo/2017/05/13/12/40/fashion-2309519_960_720.jpg);
}
.box.six {
    grid-column: 3 / span 3;
    grid-row: 5 / span 2;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/11/09/52/three-3075752_960_720.jpg);
}
