@charset "UTF-8";

.nav {
    position: relative;
    overflow: hidden;
    height: 45px;
}
.nav, .nav * {
    box-sizing: border-box;
}

.nav input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; /* 체크박스 숨기기 */
}
/* 아이콘 메뉴 버튼 디자인 */
.nav > label {
    position: absolute;
    top: 0; left: 0; /* input 태그와 똑같은 위치에 */
    width: 40px;
    height: 40px;
    display: block;
    background: #fff;
    border: solid #000;
    border-width: 6px 0;
    cursor: pointer; /* 마우스 올라가면 손가락으로 표시 */
    z-index: 100;
}

/* 가로선 긋기 */
.nav > label::after {
    content: '';
    border: solid #000;
    border-width: 6px 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 18%;
    top: 19%;
    left: 0;
}
/* 메뉴 리스트 디자인 */
.nav ul {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    background: darkred;
    height: 40px; /*label 과 같은 높이 */
    color: #eee;
    font: 14px verdana 'Malgum Gothic' bold;
    text-align: center;
    border-radius: 0 10px 10px 0;
}
/* 아이콘에 사용된 '메뉴' 글자를 브라우저 왼쪽 밖으로 내보내기 */
.nav > label {
    float: left;
    text-indent: -10000px;
}
/* 메뉴를 옆으로 나열 */
.nav li {
    display: inline;
    margin: 0;
    padding: 0;
}
.nav li a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #eee;
    margin: 0;
    padding: 20px;
    padding-right: 15px;
    height: 100%;
    line-height: 0;
}
.nav li a:hover {
    color: #fff;
    background: #000;
}
/* 종료 버튼 디자인 */
.nav ul label::after {
    content: 'x';
    display: inline-block;
    width: 30px;
    height: 40px;
    line-height: 40px;
    color: #999;
    background: #000;
    font-size: 30px;
    border-radius: 0 10px 10px 0;
}
.nav ul label {
    cursor: pointer;
    position: relative;
    height: 100%;
    text-align: center;
}
/* 아이콘 호버및 선택시 색상 */
.nav > label:hover,
.nav > label:hover::after,
.nav input[type="checkbox"]:checked ~ label,
.nav input[type="checkbox"]:checked ~ label::after {
    border-color: darkred;
}
/* 체크박스 선택(버튼 클릭)시 메뉴 효과 */
.nav input[type="checkbox"]:checked ~ ul {
    left: 8px;
    box-shadow: 1px 1px 5px #777;
    opacity: 1;
}

/* 전환효과 적용 */
.nav > label,
.nav > label::after,
.nav ul label::after {
    transition: all 0.3s ease-in;
}
/* 주메뉴 좌측(브라우저 밖)으로 이동 */
.nav ul {
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease-in;
}
/* 체크박스 선택시 회전 */
.nav input[type="checkbox"]:checked ~ label {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
/* X버튼 오버시 회전 */
.nav ul label:hover::after {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    border-radius: 10px 0 0 10px;
}

















/* 반응형 웹을 위한 미디어쿼리 */
@media screen and (max-width: 480px) {
    .nav input[type="checkbox"]:checked ~ label {
        display: none;
    }
    .nav input[type="checkbox"]:checked ~ ul {
        margin-left: 0;
    }
}
@media screen and (max-width: 480px) {
    .nav { overflow: visible; }
    .nav ul { height: auto; border-radius: 0 0 10px 10px; }
    .nav ul li {
        min-width: 200px;
        display: block;
        border-bottom: 1px dotted #ccc;
    }
    .nav ul li:last-child { border-bottom: none; }
    .nav ul li a { float: none; text-align: left;}

    /* 종료 버튼 디자인 */
    .nav ul label::after {
        content: 'Close';
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: #999;
        background: #000;
        font-size: 16px;
        border-radius: 0 0 10px 10px;
    }
    .nav ul label:hover::after {
        transform: rotateY(0deg);
        border-radius: 0 0 10px 10px;
    }
}
