@charset "UTF-8";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    background: grey;
}
#header {
    width: 960px;
    margin: 0 auto;
    background: #1d7a09;
}

 navigation
.nav {
    width: 600px;
    margin: 0 auto;
}
.nav input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; /* 체크박스 숨기기 */
}
/* 아이콘에 사용된 '메뉴' 글자를 브라우저 왼쪽 밖으로 내보내기 */
.nav > label {
    float: left;
    text-indent: -10000px;
}

.nav > ul {
    display: flex;
    justify-content : center;
    align-items : center;
}
.nav ul li {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1em;
    font-weight: bold;
    border-right: 1px solid #fff;
}
.nav ul li:first-child {
    border-left: 1px solid #fff;
}

.nav ul li a {
    display: block;
    text-align: center;
    padding: 7px 0;
    background-color: #1d7a09;
}

.nav li:hover a {
    background-color: black;
    color: #fff;
}
#main {
    width: 960px;
    margin: 0 auto;
}
.big-img {
    background: url(http://richlotta.dothome.co.kr/beeahn/images/img_0528.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 960px;
    height: 300px;
    z-index: -1;
    opacity: 0.6;
    }
}

.buyer {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    background-color: skyblue;
}
/* Gallery */
.gallery {
    display: grid;
    background-color: #fff;
    width: 960px;
    max-width: 100%;
    height: 90vh;
    margin: 30px auto;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.gallery span {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
    margin-top: 20%;
}
.gallery .n2 {
    color: yellow;
}

.gallery .n3 {
    color: #111;
    margin-top: 20%;
}
.gallery .n4 {
    color: red;
}
.gallery .n5 {
    color: #111;
    margin-top: 50%;
}
.gallery .n6 {
    color: #111;
    margin-top: 20%;
}
.gallery .n6, .gallery .n12 {
    color: green;
}
.gallery .n9, .gallery .n11 {
    color: orangered;
}
.gallery .n10 {
    color: yellow;
}

.box {
    background-color: #2ad8f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .5);
}
.box.one {
    grid-column: 1 / span 3;
    grid-row: 1 / span 5;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/1.jpeg);
}
.box.two {
    grid-column: 4 / span 2;
    grid-row: 1 / span 3;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/2.jpeg);
}
.box.three {
    grid-column: 6 / span 2;
    grid-row: 1 / span 4;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/3.jpeg);
}
.box.four {
    grid-column: 1 / span 2;
    grid-row: 6 / span 3;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/4.jpeg);
}
.box.five {
    grid-column: 3 / span 2;
    grid-row: 6 / span 4;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/5.jpeg);
}
.box.six {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/6.jpeg);
}
.box.seven {
    grid-column: 5 / span 1;
    grid-row: 6 / span 3;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/7.jpeg);
}
.box.eight {
    grid-column: 6 / span 2;
    grid-row: 5 / span 4;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/8.jpeg);
}
.box.nine {
    grid-column: 1 / span 2;
    grid-row: 9 / span 4;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/9.jpeg);
}
.box.ten {
    grid-column: 3 / span 2;
    grid-row: 10 / span 3;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/10.jpeg);
}
.box.eleven {
    grid-column: 5 / span 2;
    grid-row: 9 / span 4;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/11.jpeg);
}
.box.twelve {
    grid-column: 7 / span 2;
    grid-row: 9 / span 4;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/12.jpeg);
}
/* Gallery end */
.factory {
    display: flex;

}
.factory .vietnam {
    width: 480px;
    height: 400px;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/helicopter-2966569_1280.jpg);
}
.factory .myanmar {
    width: 480px;
    height: 400px;
    background-image: url(http://richlotta.dothome.co.kr/beeahn/images/landscape-3779159_1280.jpg);
}
.about {
    display: flex;

}
.about .about-us{
    width: 480px;
    height: 250px;
    background-color: skyblue;

}
.about .contact {
    width: 480px;
    height: 250px;
    background-color: green;

}
#footer {
    width: 960px;
    height: 80px;
    margin: 0 auto;
    background-color: orange;
}


/* mediaquery 320 / 480 / 600 / 768 / 960 / 1024 / 1280
@media (max-width: 1280px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 960px) {

}
@media (max-width: 768px) {
    body {
        background: orange;
    }
    #header {
        width: 760px;
    }
    .nav {
        width: 500px;
    }

}
@media (max-width: 640px) {
    body {
        background: blue;
    }
    #header {
        width: 640px;
    }
    .nav {
        width: 540px;
    }

}
@media (max-width: 600px) {
    body {
        background: orangered;
    }
    #header {
        width: 570px;
    }
    .nav {
        width: 450px;
    }
}


@media (max-width: 480px) {
    body {
        background: yellow;
    }
    #header {
        width: 480px;

    }
    .nav {
        width: 480px;
    }
    .nav ul li a {
        padding: 1.5em 0;
    }
}

@media (max-width: 320px) {
    body {
        background: grey;
    }

    #header {
        width: 320px;

    }
    .nav {
        width: 320px;
    }

}*/
