@charset "utf-8"


#wrapper {
    width: 100%;
    background-color: blue;
    }
.bar_top {
    width: 100%;
    height: 20px;
    background-color: red;
    }

.header_top {
    width: 1280px;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    background-color: orange;
}

.navi {
    width: 1280px;
    height: 30px;
    margin: 0 auto;
    background-color: yellow;
    }

.sec_left {
    width: 420px;
    height: 300px;
    background-color: orange;
    }
.sec_mid {
    width: 440px;
    height: 300px;
    background-color: orangered;
    }
.sec_right {
    width: 420px;
    height: 300px;
    background-color: orchid;
    }
