
@charset "utf-8"

/* 여백 초기화
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,
p,select,table,th,td,tr,textarea,button,form
section, nav, header, footer{
  margin:0;padding:0; border: none;
}*/


#bar {
  width: 100%;
  height: 10px;
  background: #fb0404;
}
#wrapper {
  width: 100%;
}

#header_wrap {
  height: 100px;
  background: #8d6e63;
}
#nav_wrap {
  height: 50px;
  background: #a1887f;
}
#section_wrap {
  height: 450px;
  margin: 0 auto;
  background: #bcaaa4;
}

#footer_wrap {
  height: 100px;
  background: #d7ccc8;
}
.header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
  background: #bcee14;
}
.nav {
  width: 960px;
  height: 50px;
  margin: 0 auto;
  background: #65d219;
}
.section {
  width: 960px;
  height: inherit;
  margin: 0 auto;

}
.sec_left {
  width: 320px;
  height: inherit;
  float: left;
  background: #ee9123;
}
.sec_mid {
  width: 320px;
  height: inherit;
  float: left;
  background: #f47213;
}
.sec_right {
  width: 320px;
  height: inherit;
  float: left;
  background: #ee9123;
}
.footer {
  width: 960px;
  height: 100px;
  margin: 0 auto;
  clear: both;
  background: #06b828;
}
