@charset "utf-8";

/* 여백 초기화 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend
,textarea,p,blockquote,th,td,input,select,button{
  margin:0;padding:0
}

/* border reset */
fieldset,img{border:0 none}

/* list style reset */
dl,ul,ol,menu,li{list-style:none}

/* font reset */
body,th,td,input,select,textarea,button{
  font-size:12px;
  font-family: 'Roboto', sans-serif;
  color:#222;
}
a{color:inherit; text-decoration: inherit;}
/*a{color:#222;text-decoration:none}*/
a:hover{color:#118eff;text-decoration:none}
a:active{background-color:transparent}

/* font style reset */
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
