@charset "utf-8"

/* layout */

/*#wrapper {
    height: 100vh;
    background-color: #fb0404;
}*/

#header {
    width: 100%;
    max-width: 960px;
    clear: both;
    background: #bcee14;
}
#nav {
    width: 960px;
    height: 37px;
    margin: 0 auto;
    text-align: center;
    background: #cfd151;
}

#container {
    display: flex;
    justify-content: center;
    width: 960px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background: #95c30f;
}

#footer {
    width: 960px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    background: #06b828;
}
.title {
    text-align: center;
    padding-top: 30px;
}
.title h1 {
    font-family: 'Roboto', sans-serif;
}
/*
#nav ul {
    display: block;
    background-color: #dfdfdf;
    margin: 0 auto;
}*/
/*
#nav > ul {
    display: inline-block;
    padding: 0px 10px;
    margin: 0 auto;
}*/
#nav > ul > li {
    display: inline-block;
    width: 110px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    padding-right: 10px;
}

#nav li a {
    width: inherit;
    background-color: red;
    padding: 10px; /* li와 크기를 맞추기 위해 a 태그 */
    display: block;
}
#nav li:hover > a {
    background-color: black;
    color: white;
}
#nav > li {
    position: relative;
}
#nav ul ul {
    display: none;
    position: absolute;
}
#nav li:hover > ul {
    display: block;
}



#container>.section {
  width: 320px;
  height: inherit;
}
#container>.section:nth-child(1) {
  background: #ee9123;
}
#container>.section:nth-child(2) {
  background: #f47213;
}
#container>.section:nth-child(3) {
  background: #ee9123;
}

#container>.section>.article {
  width: inherit;
  height: 50%;
}
#container>.section>.article:nth-child(1) {
    background: #77c7f4;
}
#container>.section>.article:nth-child(2) {
    background: #4db7f4;
}

/* mediaquery 320 / 480 / 600 / 768 / 960 / 1024 / 1280 */
@media (max-width: 1280px;) {

}
@media (max-width: 1024px;) {

}
@media (max-width: 960px;) {

}
@media (max-width: 768px;) {

}
@media (max-width: 600px;) {

}
@media (max-width: 480px;) {

}
@media (max-width: 320px;) {

}
