
* {
    margin: 0;
}

/* list style reset */

body {
    background: #eee;
}
.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* menu base style */
# nav {
    background: #333;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}
#nav a {
    text-decoration: none;
    //text-align: center;
    display: block;
    padding: 10px;
    background-color: #777;
}
#nav a:hover {
    background-color: #555;
}


/* flex style */
@media screen and (min-width: 768px) {
    #nav ul {
        display: flex;
        justify-content: center;
    }

    #nav li {
        //flex: 1 1 0;
    }






}
