* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

#nav {
    margin: 0 auto;
}


#nav a {
    comlr: #e68484;
    background: #80da60;
    display: block;
    height: 64px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s;
}
#nav a:hover {
    background: #d9ae5c
}
#nav ul {
    list-style: none;
    display: flex;
}
#nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#nav li:hover .submenu > li {
    display: block;
    top: 0px;
}
.submenu li {
    display: none;
    position: absolute;
    top: 0px;
}
.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.submenu li {
    position: relative;
}

.arrow {
    margin-left: 8px;
    color: #eee;
    font-size: 12px;
}
