@charset "utf-8"

<style>
* {
    margin: 0;
    padding: 0;
}
body {
    color:white;
}

#header {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    background: tomato;
    position: absolute;

}
#nav {
    width: 960px;
    margin: 0 auto;
}



ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
ul li {
    float:left;
    width: 100%;
    max-width: 135px;
    height: 30px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    line-height: 30px;
    font-size: 16px;
    margin-right: 2px;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover {
    background-color: green;
}
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
    text-align: left;
}
