
:root {
    --background: rgba(85, 214, 170, 0.85);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    font-weight: 400;
}
.content {
    height: 200vh;
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/*navigation style here */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

#nav {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 0;
    background: var(--background);
    width: 100%;
    display: none;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
#nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
}
#nav a:hover {
    color: #000;
}
.nav-toggle:checked ~ nav {
    display: block;
}
