
@charset "utf-8"

a { text-decoration: none;}

/*1차 메뉴와 2차메뉴 공통 속성*/

#nav ul li {
    list-style: none;
    float: left;
    background: #09f;
    height: 40px;
    line-height: 40px;
    padding: 0.3em;
    margin-right: 0.1em; /*메뉴 사이 간격 */
}

/* 2차 메뉴 설정*/
#nav li ul li {
    clear: both; /* float-left 속성 해제 - 2차 메뉴가 아래로 */
    margin-left: -45px;
}

/* 2차 메뉴 평소 숨김 */
#nav ul {
    position: absolute;
    display: none;
}

/*1차 메뉴 마우스 오버시 2차메뉴 보여줌 */
#nav li:hover ul {
    display: block;
}

/*네비게이션 오버시 배경색 지정 */
#nav li:hover {
    background: #0bf;
}

#nav a {
    color: #fff;
    font-weight: bold;
    padding: 5px;
}
