@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#nav li {
    list-style: none;
    padding: 2px;
}
#nav a {
    display: block; /* a 태그에 block을 줘야 리스트 사이즈에 맞게 된다 */
    position: relative;
    background: url(../img/icon.png) no-repeate;
    width: 60px; height: 60px;
}
#nav span {
    position: absolute;
    left: 60px;
    font: 18px arial bold;
    line-height: 60px;
}
#nav .home {
    background-position: 0 0;
}
#nav .home span {
    background-color: #7da315;
    color: #3d4f0c;
    text-shadow: 1px 1px 0 #99bf31;
}
#nav .about {
    background-position: -30px 0;
}
#nav .about span {
    background-color: #1e8bb4;
    color: #223a44;
    text-shadow: 1px 1px 0 #44a8d0;
}
#nav .history {
    background-position: -120px 0;
}
#nav .history span {
    background-color: ##c86c1f;
    color: #5a3517;
    text-shadow: 1px 1px 0 #d28344;
}
#nav .portpolio {
    background-position: -114px 0;
}
#nav .portpolio span {
    background-color: ##d0a525;
    color: #604e18;
    text-shadow: 1px 1px 0 #d8b54b;
}
#nav .contact {
    background-position: -152px 0;
}
#nav .contact span {
    background-color: ##af1e83;
    color: #460f35;
    text-shadow: 1px 1px 0 #d244a6;
}
/* 메뉴텍스트 숨기기 */
#nav span {
    width: 0; overflow: hidden;
}
/* hover 스타일 */
#nav a:hover span {
    width: auto;
    padding: 0px 30px;
}
/* 메뉴전환효과 */
#nav span {
    transition: all 0.3s;
}

/* 네온효과 */
#nav a:hover {
    box-shadow: 0 0 10px #9ddff5;
}
/* 배경색 설정 */
body {
    background: #111;
}
/* 가운데로 배치 */
#main {
    margin: 80px auto;
    width: 40px; /*너비가 없으면 가운데로 않간다 */
}

/* 그라디언트 적용 */
body {
    background: #111 no-repeat;
    background-image: -webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111));
}
