<!-- for sizing optimization -->
<tr class="font13 tdAlignC trBgWhite">
    <td class="TdScratch">1</td>
    <td>1/1/1/3/6/9</td>
    <td class="TdScratch">
        <img style="display:block vertical-align:top" alt="A160" src="//racing.hkjc.com/racing/content/Images/RaceColor/A160.gif" onerror="this.src='/racing/Info/StaticFile/Images/blank.gif'" />
    </td>
    <td class="TdScratch">
        <a href="javascript:OpenPopWinScroll('//www.hkjc.com/english/racing/horse.asp?horseno=A160',812,600)">SMART BABY</a>
    </td>
    <td class="TdScratch">A160</td>
    <td>133</td>
    <td>
        <a href="javascript:OpenPopWinScroll('//www.hkjc.com/english/racing/JockeyWinStat.asp?jockeycode=PZ',812,600)">Z Purton</a>
    </td>
    <td>&nbsp;</td>
    <td>6</td>
    <td>
        <a href="javascript:OpenPopWinScroll('//www.hkjc.com/english/racing/TrainerWinStat.asp?trainercode=FC',812,600)">C Fownes</a>
    </td>
    <td>60</td>
    <td>+8</td>
    <td>1248</td>
    <td>+7</td>
    <td>2.18.00</td>
    <td>6</td>
    <td>-</td>
    <td>g</td>
    <td>1521450</td>
    <td>
        1
    </td>
    <td>V</td>
    <td>Mr & Mrs Chan Tak Wa</td>
    <td>Shamardal</td>
    <td>Marine City</td>
    <td>PP</td>
</tr>
